*{
    box-sizing: border-box;
    margin: 0;

}
.calculator{
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px;
}
#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    inset;
    border-radius: 5px;
    margin-bottom: 5%;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}
button{
    padding: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #ddd;
}
.clear{
    background-color: red;
    color: white;
}
.number{
    background-color: white;
}
.equal{
    background-color: green;
    color: white;
}